exclude: '^.*\.(bin|torrent)$'

repos:
  - repo: https://github.com/trim21/dprint-pre-commit
    rev: 'v0.51.1.0'
    hooks:
      - id: dprint

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-ast
      - id: check-toml
      - id: check-yaml
      - id: check-merge-conflict
      - id: debug-statements
      - id: trailing-whitespace
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: end-of-file-fixer

  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
