name: autofix.ci

on:
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  cargo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt,clippy

      - run: cargo fmt || true
      - run: cargo clippy --fix --allow-dirty || true
      - uses: trim21/actions/prek@master

      - uses: autofix-ci/action@v1
