name: ci

on:
  pull_request:
    branches:
      - master
  workflow_dispatch:
  push:
    branches:
      - master
    tags-ignore:
      - "*"

jobs:
  build:
    concurrency:
      group: "${{ github.workflow }}-${{ github.ref }}"
      cancel-in-progress: true
    uses: ./.github/workflows/_build_wheels.yaml

  cargo-fmt:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt,clippy
      - run: cargo fmt --check --all
      - run: cargo clippy

  test:
    strategy:
      matrix:
        os: ["ubuntu-24.04", "macos-15", "windows-latest"]
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"

    runs-on: "${{ matrix.os }}"

    needs: [build]

    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
        with:
          name: wheel
          path: dist
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          activate-environment: true

      - name: Install Python deps from lock (dev)
        run: |
          uv sync --locked --group dev

      - run: uv pip install bencode-rs --no-index --find-links ./dist/

      - run: pytest -sv
        env:
          RUST_BACKTRACE: 'full'

  bench-cp:
    strategy:
      matrix:
        python-version:
          - "3.10"

    runs-on: "ubuntu-24.04"

    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          activate-environment: true

      - name: Install Python deps from lock (dev)
        run: |
          uv sync --locked --group dev

      - run: maturin build --release --out dist
      - run: uv pip install bencode-rs --no-index --find-links ./dist/

      - name: Run benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          token: ${{ secrets.CODSPEED_TOKEN }}
          mode: 'instrumentation'
          run: python -m pytest tests/bench.py --codspeed

  audit:
    name: Audit
    needs: [build]
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python 3.14.2
        uses: actions/setup-python@v6
        with:
          python-version: "3.14.2"

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          activate-environment: true

      - run: uv sync --dev

      - uses: actions/download-artifact@v7
        with:
          name: wheel
          path: dist

      - run: abi3audit --verbose dist/*.whl
      - run: twine check --strict dist/*


  coverage:
    name: Coverage for ${{ matrix.python-version }}
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"

    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: "${{ matrix.python-version }}"

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          activate-environment: true

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: llvm-tools

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - run: uv sync --dev

      - name: Run coverage
        run: |
          set -euxo pipefail
          source <(cargo llvm-cov show-env --export-prefix)
          export CARGO_TARGET_DIR=$CARGO_LLVM_COV_TARGET_DIR
          cargo llvm-cov clean --workspace
          cargo build
          ls target/debug -ahl
          cp target/debug/libbencode.so py/bencode_rs/_bencode.so
          PYTHONPATH=py pytest tests
          cargo llvm-cov report --lcov --output-path coverage.lcov

      - uses: codecov/codecov-action@v5
        with:
          files: coverage.lcov
          token: '${{ secrets.CODECOV_TOKEN }}'
