name: Build Wheels for PyPI

on:
  push:
    tags:
      - '*'

jobs:
  build:
    uses: ./.github/workflows/_build_wheels.yaml

  upload_all:
    name: Upload wheels to PyPI
    needs: [build]
    runs-on: ubuntu-24.04
    environment: pypi
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: wheel
          path: dist

      - uses: pypa/gh-action-pypi-publish@v1.13.0
